/*** Style for layout.html  Table ***/
head {
border-style: solid;
border-width: 5px;
border-spacing: 3px;
border-collapse: separate;
}
body {
background: #888888;
margin-left: 3%;
}

#mystery-table {
  font: 100% sans-serif;
  font-weight: normal;
  background-color: #a3ff75;
  border-spacing: 3px;
  border-collapse: separate;
  empty-cells: show;
  border: 2px solid #777;
}

#mystery-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 100%;
  border-bottom: .2em solid #ff6600;
  margin-bottom: .3em;
}


/* shared rules */

#mystery-table > th{
  font-weight:normal;
  text-align: right;
  padding-right: 4px;
  color: #87CEFA;
}

#mystery-table > td{
  text-align: right;
  padding-left: .5em;
}

/* fix size of superscript */
#mystery-table sup {
  font-size: 75%;
}


#mystery-table td {
  background-color:	#87CEFA;
  padding:.5em .5em .5em 3em;
}


/* footer */
#mystery-table tfoot {
  font-weight: bold;
}

#mystery-table tfoot th {
  color: blue;
}

#form1 {
	background-color:Silver;
	border-width: 2px;
   border-style:solid;
	height:75%;
	width:75%;
	margin:3% 2% 2% 0.33%;
	display:block
}


#form2 {
	background-color:Silver;
	border-width: 2px;
   border-style:solid;
	height:75%;
	width:75%;
	margin:3% 2% 2% 0.33%;
	display:block
}

#lightblue {
	border-width: 5px;
   border-style:double;
	background-color:#87CEFA;
	height:648px;
	width:850px;
	margin:20px 5% 15% 10%;
	display:block
}

#red {
	border-width: 2px;
   border-style:solid;
	background-color:red;
	height:100px;
	width:25%;
	margin:20px 00% 00px 5%;
	display:inline-block;
}
  
#orange {
	border-width: 2px;
   border-style:solid;
	background-color:orange;
	height:100px;
	width:45%;
	margin:20px 00% 00px 9.5%;
	display:inline-block;
}

#yellow {
	border-width: 2px;
   border-style:solid;
	background-color:Yellow;
	height:200px;
	width:213px;
	margin:62px 00% 00px 46px;
	display:inline-block;
  }

#green {
	border-width: 2px;
   border-style:solid;
	background-color: #32CD32;
	height:200px;
	width:45%;
	margin:62px 00% 00px 78px;
	display:inline-block;
	} 
	 
#blue {
	border-width: 2px;
   border-style:solid;
	background-color:Blue;
	height:200px;
	width:25%;
	margin:55px 5% 00% 5.5%;
	display:inline-block;
	}  

#indigo {
	border-width: 2px;
   border-style:solid;
	background-color:#4B0082;
	height:200px;
	width:45.5%;
	margin:55px 5% 00% 4%;
	display:inline-block;
	}
  